#blogBox {
    width: 600px;
    height: 600px;
    background-color: #ffffff;
    opacity: 1;
    padding: 20px;
    border: 1px solid #ccc;
  }
  
  .nameContainer {
    margin-bottom: 10px;
  }
  
  .name {
    margin-right: 10px;
  }
  
  