*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter',sans-serif;
    text-decoration: none; 
    list-style: none;
    scroll-behavior: smooth;
}
:root{
    --text-color:#fff;
    --bg-color:#1b1f24;
    --second-bg-color:#22282f;
    --main-color:#13bbff;
    --other-colar:#c3cad5;

    --h1-font:4.5rem; 
    --h2-font:2.9rem;
    --p-font:1rem;
    --h3-font:15px;
}
body{
    color: var(--text-color);
    background:var(--bg-color);
    width: 100vw;
    height: 100vh;
}
a{
    color: var(--other-colar);
}
.container{
    background: var(--second-bg-color);
}
#cont-1{
 padding: 20px;
 position: fixed;
 height: 100vh;
 width: 10%;
 top: opx;
 left: opx;
 background-color: #1b1f24;
 margin: 0px 10px 20px 0px;
 z-index: 1;
 position: fixed;
 height: 100vh;
 width: 10vw;
 top: opx;
 left: opx;
 background-color: #1b1f24;
 margin: 0px 10px 20px 0px;
 z-index: 1;
}
.plofile-picture{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-image: url(DSC_0172-transformed.png);
    background-color:var(--bg-color);
    background-size: cover;
    display: flex;
    margin: 0 0 15px 0;


}
.live-sign{
    width: 7px;
    height: 7px;
    border-radius: 2.5px;
    background: green;
    margin: 13px 9px;
}
#profile-name{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 15px 0;
}
#profile-name h6{
    color: green;
}
#dashboards{
    border-bottom: 1px solid var(--other-colar);
    display: inline-block;
    margin-bottom: 20px;
}
.menu-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.menu-list h3{
    margin: 15px 0;
    align-self: flex-start;
}

.menu-list h3:hover{
    transform: scale(1.2);
    /* box-shadow: 0 0 20px var(--main-color); */
}

#Sign-out{
    margin: 5px 0 0 0;
    margin: 5px 0 0 0;
    color: var(--other-colar);
}
.ri-arrow-left-circle-fill{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: var(--main-color);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    backdrop-filter: brightness(88%);
    font-size: 20px;
    margin-right: 5px;
    box-shadow: 0 0 20px transparent;
    cursor: pointer;
    transition: all .50s ease;
    margin-top: 40%; 
    transition: all .50s ease;
    margin-top: 40%; 
}
i:hover{
    transform: scale(1.1);
    box-shadow: 0 0 20px var(--main-color);

}

#cont-2{
 display: flex;
 width: 90vw;
 height: 18vh;
 background-color: #1b1f24;
 padding: 0 10%;
 display: flex;
 width: 90vw;
 height: 18vh;
 background-color: #1b1f24;
 padding: 0 10%;
 color: var(--other-colar);
 align-items: center;
 justify-content: space-between;
 position: fixed;
 top: 0px;
 right: 0px;
 z-index: 1;
 position: fixed;
 top: 0px;
 right: 0px;
 z-index: 1;
}

.display-box{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#cont-2 .display-number{
    width: 50px;
    height: 50px;
    background: var(--main-color);
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--bg-color);
    margin: 10px 0 0 0;
}
/* Dashboard */
/* ----------------------------------------------------------------------- */
.main_page_container{
    background-color: var(--second-bg-color);
    width: 100vw;
    height: 100vh;
    z-index: 1;
}
.secand_main_container{
   padding: 10% 0 0 10%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content:start;
   height: 100%;
}


.secand_main_container h3{
    margin: 2% 5%;
    align-self: flex-start;
    border-bottom: 1.5px solid;
    padding: 0px;
}

.table_{
    width: 100%;
    height: fit-content;
    padding: 1% 5%;
}
.table_row{
    height: 70px;
}
.table_head{
    text-align: center;
    border-bottom: 1.5px solid;
    border-collapse: collapse;
    height: 20px;
    padding-bottom: 2px;
}
.table_data{
    text-align: center;
    border-bottom: 1.5px solid;
    border-collapse: collapse;
    height: 20px;
}

h4{
    display: inline-block;
}


/* style user */
/* -------------------------------------------------------------------------------------- */
  

/* style about */
/* -------------------------------------------------------------------------- */
#form{
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}


/* styling blogs */
/* ----------------------------------------------------------------------------- */
 #blog_first_low{
     width: 30%;
 }
  


/* style create blog box */

#create_box{
    display: none;
  }

/* Delete all blogs box*/
#worning_box{
    display: none;
 }
/* styling portofolio */
/* --------------------------------------------------------------------------------------------------- */
 
/* style contact section */
/* -------------------------------------------------------------------------------------------------- */
