*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter',sans-serif;
    text-decoration: none; 
    list-style: none;
    scroll-behavior: smooth;
}
:root{
    --text-color:#fff;
    --bg-color:#1b1f24;
    --second-bg-color:#22282f;
    --main-color:#13bbff;
    --other-colar:#c3cad5;

    --h1-font:4.5rem; 
    --h2-font:2.9rem;
    --p-font:1rem;
    --h3-font:15px;
}
body{
    color: var(--text-color);
    background:var(--bg-color);
    padding: 20px;
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns:repeat(auto-fit,minmax(150px,auto));
}
.container{
    background: var(--second-bg-color);
    margin: 20px;
}
#cont-1{
 grid-column-start: 1;
 grid-column-end: 1;
 grid-row-start: 1;
 grid-row-end: 8;
 padding: 20px;
}
.plofile-picture{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-image: url(/DSC_0172-transformed.png);
    background-color:var(--bg-color);
    background-size: cover;
    display: flex;
    margin: 0 0 15px 0;


}
.live-sign{
    width: 7px;
    height: 7px;
    border-radius: 2.5px;
    background: green;
    margin: 13px 9px;
}
#profile-name{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 15px 0;
}
#profile-name h6{
    color: green;
}
#dashboard{
    border-bottom: 1px solid var(--other-colar);
    display: inline-block;
    margin-bottom: 20px;
}
#dashboard:hover{
    transform: scale(1.2);
}
.menu-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.menu-list h3{
    margin: 15px 0;
    align-self: flex-start;
}

.menu-list h3:hover{
    transform: scale(1.2);
    /* box-shadow: 0 0 20px var(--main-color); */
}

#Sign-out{
    margin: 60px 0 0 0;
    color: var(--other-colar);
}
i{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: var(--main-color);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    backdrop-filter: brightness(88%);
    font-size: 20px;
    margin-right: 5px;
    box-shadow: 0 0 20px transparent;
    cursor: pointer;
    transition: all .50s ease; 
}
i:hover{
    transform: scale(1.1);
    box-shadow: 0 0 20px var(--main-color);

}

#cont-2{
 grid-column-start: 2;
 grid-column-end: 9;
 grid-row-start: 1;
 grid-row-end: 1;
 display: grid;
 grid-template-columns: repeat(auto-fit, minmax(100px,auto));
 padding: 20px;
 color: var(--other-colar);
 align-items: center;
 justify-content: space-between;
}

.display-box{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#cont-2 .display-number{
    width: 50px;
    height: 50px;
    background: var(--main-color);
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--bg-color);
    margin: 10px 0 0 0;
}
#cont-3{
 grid-column-start: 2;
 grid-column-end: 9;
 grid-row-start: 2;
 grid-row-end: 8;
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 align-items: center;
}

#cont-3 h3{
    margin: 2% 5%;
    align-self: flex-start;
    border-bottom: 1.5px solid;
    padding: 0 0 15px 0;
}

table{
    width: 100%;
    height: 100%;
    padding: 2% 5%;  
}
th{
    text-align: start;
    border-bottom: 1.5px solid;
    border-collapse: collapse;
}
td{
    border-bottom: 1.5px solid;
}
.row{
    background: var(--bg-color);
    margin: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
h4{
    display: inline-block;
}
h3{
    font-size: var(--h3-font);
    color: var(--other-colar);
}
